source https://www.nuget.org/api/v2
source https://api.nuget.org/v3/index.json
storage: none
clitool dotnet-mono 0.5.2
nuget Argu 3.7
nuget FSharp.Core 4.3.4
nuget Microsoft.SourceLink.GitHub prerelease copy_local: true
nuget Microsoft.NETFramework.ReferenceAssemblies copy_local: true
nuget Expecto
nuget Expecto.FsCheck
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk 15.7.2
nuget altcover ~> 6
nuget SourceLink.Create.CommandLine 2.7.2 copy_local: true
nuget FParsec

// [ FAKE GROUP ]
group Build
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget FAKE.Core.Environment
    nuget Fake.DotNet.Cli
    nuget FAKE.Core.Process
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Tools.Git
    nuget Fake.DotNet.Paket
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.BuildServer.Travis
    nuget Fantomas 3.1.0
    nuget Argu

group Docs
    storage: none
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget Argu
    nuget FSharp.Core
    nuget Fake.IO.FileSystem
    nuget FAKE.Core.Environment
    nuget Fake.DotNet.Cli
    nuget FSharp.Literate
    nuget Fable.React
    nuget Dotnet.ProjInfo.Workspace.FCS
